.about-title {
  font-size: 22px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.about-info {
  position: absolute;
  width: 700px;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  
}

.about-info li {
  float: left;
  /* overflow: hidden; */
  width: 100px;
  height: 100px;
  text-align: center;


}

.about-info li img {
  width: 45px;
  height: 45px;
  padding: 22px;
  background-color: rgba(255,255,255,.1);
  border-radius: 50%;

}


.about-info li span {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.about-docs{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,-50%)

}
.about-docs p{
  text-align: center;
  padding: 0 20px;
  margin: 25px 0;
  font-size: 18px;
  color: #fff;
  position: relative;
  animation: spin 5s linear;
}
@keyframes spin{
  from{
    top:150px;
  }
  to{
    top: 0px;
  }
}