.home-body {
  position: absolute;
  width: 100%;
  top: 18%;
  height: 82%;
  text-align: center;
  color: #E2E2E2;
}

.myself {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  left: 50%;
  margin-left: -75px;
  animation: spin-img 1.5s linear;
}

@keyframes spin-img{
  from{
    top:40%;
  } 
  to{
    top:0;
  }
}

.home-motto {
  /* width: 100%; */
  opacity: 0;
  position: absolute;
  top: 185px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  padding: 22px 0;
  color: #E2E2E2;
  animation: spin-motto .8s linear;
  animation-delay: .9s;
  animation-fill-mode: forwards;
}

@keyframes spin-motto{
  from{
    top: 210px;
    opacity: 0;

  }
  to{
    top:185px;
    opacity: 1;
  }
}

.home-hr {
  border: .3px solid #E2E2E2;
  /* width: 450px; */
  width: 0;
  display: block;
  margin: 215px auto;
  animation: spin-hr 1.5s ease-in;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes spin-hr{
  from{
    width: 0;
  }
  to{
    width: 580px
  }
}
@keyframes spin-name{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.home-about{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.home-name{
  opacity: 0;
  animation: spin-name 1s linear;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;
}
.home-introduce{
  opacity: 0;
  animation: spin-name 1s linear;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
}
.home-contact{
  opacity: 0;
  animation: spin-name 1.1s linear;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
}
.home-about p{
  font-size: 24px;
  padding: 22px 0;
  font-weight: 500;
}


